* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --white: #f0f1f2;
  --parag: #c0cbe6;
}
html {
  font-size: 16px;
}

body {
  min-height: 100vh;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: black;
  background-color: rgba(13, 8, 160, 0.79);
}
.site-shell {
  width: min(900px, 92%);
  min-height: 100vh;
  margin: auto;
  display: grid;
  place-items: center;
  padding: 50px 0px 50px 0px;
}
.form-card {
  width: 100%;
  padding: 20px;
  border-radius: 1rem;
  background: #ffffff;
  color: #172033;
  box-shadow: 1rem 1rem 45px rgba(235, 231, 231, 0.9);
  border: 1px solid yellow;
}
.form-header {
  margin-bottom: 1.2rem;
  padding: 0.5rem;
  background: linear-gradient(135deg, #2563eb, #0f172a);
  color: var(--white);
}
.site-shell .form-card .form-header h2 {
  margin-bottom: 0.5rem;
  font-size: 1.8rem;
}
.form-header p {
  margin-bottom: 0.5rem;
  line-height: 1.5rem;
  color: var(--par);
}
fieldset {
  border: 0px;
}
legend {
  margin-bottom: 1.2rem;
  font-size: 1.4rem;
  font-weight: bolder;
}
.form-row {
  display: grid;
  gap: 1.25rem;
  margin-bottom: 1.3rem;
  grid-template-columns: 1fr 1fr;
}
.input-group label {
  display: block;
  margin-bottom: 0.4rem;
  font-weight: 900;
  color: rgba(252, 249, 70, 0.818);
}
.input-group input,
.input-group select {
  width: 100%;
  height: 2rem;
  padding: 0 0.9rem;
  border-radius: 0.5rem;
  border: 2px solid #2b53a8;
  font-size: 0.9rem;
  outline: none; /*no overflow*/
  background: rgb(242, 240, 240);
  transition: 1.5s all;
}
.input-group input:focus,
.input-group select:focus {
  border-color: black;
  background-color: rgba(230, 230, 120, 0.654);
  color: white;
}
.input-group small {
  display: block;
  margin-top: 0.4rem;
  color: rgb(255, 0, 0, 0.5);
}
#notes {
  border-radius: 1rem;
  padding: 1rem 1rem;
}