* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --company-white: #d1c8c8;
  --company-black: #292929;
  --company-black-opacity: rgba(0, 0, 0, 0.6);
  --parag: #c0cbe6;
}
html {
  font-size: 16px;
}

body {
  min-height: 100vh;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: var(--company-black);
  background-image: url(../image/header1.jpg);
  background-position: center;
}
.site-shell {
  width: min(900px, 92%);
  min-height: 100vh;
  margin: auto;
  display: grid;
  place-items: center;
  padding: 40px 0;
}
.form-card {
  width: 100%;
  padding: 6.2rem;
  border-radius: 1rem;
  background: #ffffff;
  box-shadow: 0.3rem 4px 1rem 0.3rem rgba(235, 231, 231, 0.7);
  border: 2px solid rgba(216, 179, 179, 0.6);
}
.form-header {
  margin-bottom: 1.2rem;
  padding: 1.5rem;
  border-radius: 1rem;
  background: linear-gradient(135deg, #2563eb, #0f172a);
  color: var(--company-white);
}
.site-shell .form-card .form-header h2 {
  margin-bottom: 0.5rem;
  font-size: 1.8rem;
}
.form-header p {
  margin-bottom: 0.5rem;
  line-height: 1.5rem;
  color: var(--company-white);
}
fieldset {
  margin-bottom: 0.5rem;
  line-height: 1.5;
  color: var(--company-white);
  border: 0;
}
legend {
  margin-bottom: 1.2rem;
  font-size: 1.4rem;
  font-weight: bolder;
  color: var(--company-black-opacity);
}
.form-row {
  display: grid;
  gap: 1.25rem;
  margin-bottom: 1.3rem;
  grid-template-columns: 1fr 1fr;
}
.form-row .single {
  grid-template-columns: 1fr;
  color: red;
}

.input-group label {
  display: block;
  margin-bottom: 0.4rem;
  font-weight: 900;
  color: var(--company-black-opacity);
}
.input-group input,
.input-group select {
  width: 100%;
  height: 2rem;
  padding: 0 0.9rem;
  border-radius: 0.5rem;
  border: 2px solid #2b53a8;
  font-size: 0.9rem;
  outline: none; /*no overflow*/
  background: #ffffff;
  transition: 1.2s all;
}
.input-group input:focus,
.input-group select:focus {
  border-color: #0f172a;
  box-shadow: 0 0 0 4px rgba(51, 62, 77, 0.9);
}
.input-group input:invalid:not(:placeholder-shown) {
  border-color: #ef4444;
}
.input-group input:valid:not(:placeholder-shown) {
  border-color: #32dc4e;
}

.input-group small {
  display: block;
  margin-top: 0.4rem;
  color: rgba(217, 96, 96, 0.5);
  font-size: 0.7rem;
}
#notes {
  border-radius: 1rem;
  padding: 1rem 1rem;
}
/* ????? */
.check-line {
  display: flex;
  align-items: center;
  gap: 0.8rem;
  padding: 0.9rem;
  border: 1px solid #1172ea;
  border-radius: 0.5rem;
  background: #3e3f40;
  color: var(--company-white);
}
.check-line input {
  width: 1.2rem;
  height: 1.2rem;
}
.check-line a {
  color: #0f172a;
  font-weight: bold;
  margin-left: 0.5rem;
  text-decoration: none;
}
.button-row {
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
}
.button-row button {
  min-height: 2.2rem;
  padding: 0% 1.2rem;
  border-radius: 1.2rem;
  font-weight: bold;
  cursor: pointer;
  transition: 0.2s;
}
button:hover {
  transform: translate(0.5rem);
  transition: 0.8s all;
}
.ghost-btn {
  color: #0f172a;
  border: 2px solid #1172ea;
  background: #ffffff;
}
.ghost-btn:hover {
  color: #ffffff;
  background: #0f172a;
}
.submit-btn {
  color: #ffffff;
  border: 2px solid #1172ea;
  background: #1172ea;
}
.submit-btn:hover {
  background: #ffffff;
  color: #1172ea;
}

/*media query*/
@media (min-width: 700px) {
  .form-card {
    padding: 10rem;
  }
  .form-row {
    grid-template-columns: 1fr;
  }
  .button-row {
    flex-direction: column;
  }
}
@media (min-width: 900px) {
  body {
    background-image: url(../image/header1.jpg);
    background-position: center;
    background-size: cover;
  }
}
